@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

*{
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.App{
  font-family:nanumsquare;
}

.App>h1{
  width: 100%;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.Main{
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.innerCon{
  border: 1px solid #fff;
  text-align: center;
}

/* 프로필란 */

#profile{
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
}

#profile>div:nth-child(1){
  width: 65%;
  height: 60%;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  background: url('/public/meme.jpg') center center/100% 100%;
}


#profile>div:nth-child(3), #profile>div:nth-child(4){
  font-size: 13px;
}

/* 포스팅란 */

#post{
  width: 65%;
  height: 50%;
}

#post>span{
  border: 1px solid #eee;
  background-color: #eee;
  padding: 5px;
  font-size: 12px;
  margin-left: 80%;
  cursor: pointer;
}

#post>span.more{
  margin: 0 auto;
}

.innerCon h2{
  font-size: 18px;
}

.innerCon>ul{
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.innerCon>ul>li{
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
  padding: 3px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#post>ul>li>span{
  font-size: 13px;
}

/* 투데이위젯 */

#widget{
  width: 20%;
  height: 15%;
}


/* 방명록 */
#visitor{
  width: 65%;
  height: 38%;
}

#visitor>span{
  border: 1px solid #eee;
  background-color: #eee;
  padding: 5px;
  font-size: 12px;
  margin-left: 80%;
  cursor: pointer;
}

#visitor>span.more{
  margin: 0 auto;
}


/* 포스트 작성 */
#write_post{
  width: 100%;
  text-align: center;
  padding: 3%;
}

#write_post>form{
  width: 80%;
  margin: 0 auto;
}

#write_post>form select{
  width: 100%;
  border: none;
  outline: none;
  height: 30px;
  padding:1% 3%;
  border-radius: 10px;
}

#write_post>form input{
  width: 100%;
  border: none;
  outline: none;
  height: 30px;
  padding:1% 3%;
  border-radius: 10px;
}

#write_post>form>table{
  width: 90%;
  margin: 0 auto;
}


#write_post>form>table>tr>td:nth-child(2){
  width: 80%;
}

#desc{
  background: #fff;
  border: none;
  width: 100%;
  padding: 1% 3%;
  border-radius: 10px;
  text-align: left;
}

#desc >img{
  max-width: 100%;
}

#desc.bold{
  font-weight: bold;
}
#desc.italic{
  font-style: italic;
}

#write_post>form>table button{
  width: 10%;
  height: 30px;
  margin: 10px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
}

#styles{
  text-align: left;
}

.btns{
  text-align: center;
  display: inline-block;
  margin: 5px;
  width: 20px; height: 20px;
  font-size: 13px;
  line-height: 20px;
  background-color: #eee;
}

.btns.selected{
  background-color: darken(#eee,50%);
}

.btns:nth-child(1){
  font-weight: bold;
}


.btns:nth-child(2){
  font-style: italic;
}


.btns:nth-child(3){
  text-decoration: underline;
}

.btns:nth-child(4){
  text-decoration: line-through
}


.btns:last-child{
  width: 55px;
  position: relative;
}

#hidden-file{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
}


/* 포스트 상세페이지 */
#postDetail{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

#postDetail>h2{
  width: 90%;
  margin: 50px auto;
}

#postDetail>div:nth-child(3){
  width: 90%;
  margin: 20px auto;
  padding: 3%;
  background: rgba(265,265,265,0.3);
}

#postDetail>div:nth-child(4){
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 5%;
}

#postDetail button{
  background: rgba(265,265,265,0.5);
  border: none;
  outline: none;
  padding: 1% 2%;
  margin: 1%;
  font-family: inherit;
}

#postDetail>span{
  color: #555;
  margin-left: 88%;
}


/* 포스트 리스트 */

#posts{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

#posts>table{
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
}

#posts>table>tr:nth-child(1){
  height: 40px;
  /* border-bottom: 1px solid #fff; */
  background: rgba(0,0,0,0.1);
}

#posts>table>tr:not(:nth-child(1)){
  height: 35px;
  border-bottom: 1px solid #fff;
}

#posts>table>tr>th:nth-child(1){
  width: 5%;
}

#posts>table>tr>th:nth-child(3){
  width: 65%;
}